In [29]:
import pandas as pd
df = pd.read_csv("CollisionCheck_preprocessed3.csv",header=None)

In [30]:
rows, cols = df.shape

In [31]:
for i in range(rows):
    start = False
    final = False
    count = 0
    othervalue = False
    dead = False
    for j in range(cols):
        if df.iloc[i,j] == "-1":
            df.iloc[i,j] = "-1:1"   
       
        if df.iloc[i,j] == "-1:0":
            start = True
        if df.iloc[i,j] == "-1:1" or df.iloc[i,j] == "-1":
          
            final = True
        if df.iloc[i,j] != "-1:0" and (df.iloc[i,j] != "-1:1" or df.iloc[i,j] == "-1") and pd.notna(df.iloc[i,j]):
            count += 1
        if count > 1:
            othervalue = True
    if start == True and count > 0:
        pass
    elif final == True and count > 0:
        pass
    elif othervalue == True:
        pass
    else:
        dead = True
        #df.iloc[i,cols-1] = "-1:-1"
    for j in range(cols):
        if dead == True:
            if pd.isna(df.iloc[i,j]):
                df.iloc[i,j] = "-1:-1"
                break
            
        
df.to_csv("CollisionCheck_preprocessed4.csv", header=None, index=False,na_rep="None")

In [32]:
df.head(5)

      0      1     2    3    4    5    6    7    8   9   10  11  12  13
0  10172  -1:-1   NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
1    217   -1:1   NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
2   2511  -1:-1   NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
3   1212  -1:-1   NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
4    302   1611  5027  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN