In [119]:
import pandas as pd
import numpy as np
import csv 
df = pd.read_csv("CollisionCheck_preprocessed.csv",header=None)

df_rows, df_cols = df.shape

In [120]:
f = open("collisionDistance.csv")
reader = csv.reader(f)
csv_list = []
for i in reader:
    csv_list.append(i)
f.close()
log_df = pd.DataFrame(csv_list)
log_df

log_df2 = log_df.iloc[:,1:]

In [121]:
df2 = log_df2
df2.head(11)
df2.iloc[10,0]

'10.4677'

In [122]:
log_df.head(11)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,36.58362,,,,,,,,,,,,,
1,2,95.2364,74.57287,,,,,,,,,,,,
2,3,84.0816,,,,,,,,,,,,,
3,4,8.768292,,,,,,,,,,,,,
4,5,,,68.18256,44.17857,92.79401,,,,,,,,,
5,6,,,,,,,,,,,,,,
6,7,,,,,,,,,,,,,,
7,8,8.104913,,,,,,,,,,,,,
8,9,35.26678,29.99756,26.74171,56.12702,,,,,,,,,,
9,10,,,,,,,,,,,,,,
10,11,10.4677,36.59436,,,,,,,,,,,,

In [123]:
df2_rows,df2_cols = log_df2.shape

In [124]:
df2_rows,df2_cols

(30000, 14)

In [125]:
df.iloc[0,0]

'10172'

In [126]:
for k in range(5):
    for i in range(df_rows):
        for j in range(df_cols):
            if pd.notna(df.iloc[i,j]):
                if j > 0:
                    if pd.isna(df.iloc[i,j-1]):
                        df.iloc[i,j-1] = df.iloc[i,j]
                        df.iloc[i,j] = np.NaN

In [127]:
for k in range(10):
    for i in range(df2_rows):
        for j in range(df2_cols):
            if df2.iloc[i,j] != "None":
                if df2.iloc[i,j] != '':
                    if(j > 0):
                        if(df2.iloc[i,j-1] == "None" or df2.iloc[i,j-1] == '' or df2.iloc[i,j-1] == ' '):
                            df2.iloc[i,j-1] = df2.iloc[i,j]
                            df2.iloc[i,j] = "None"

C:\Users\sengh\AppData\Local\Temp\ipykernel_20972\5757190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i,j-1] = df2.iloc[i,j]
C:\Users\sengh\AppData\Local\Temp\ipykernel_20972\5757190.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i,j] = "None"

In [128]:
print(df2.iloc[124,0])

In [129]:
df2.iloc[10,0]

'10.4677'

In [130]:
for i in range(df2_rows):
    for j in range(df2_cols):
        if df2.iloc[i,j] == "":
            df2.iloc[i,j] = "None"
        if df2.iloc[i,j] == " ":
            df2.iloc[i,j] = "None"

C:\Users\sengh\AppData\Local\Temp\ipykernel_20972\1704915841.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i,j] = "None"
C:\Users\sengh\AppData\Local\Temp\ipykernel_20972\1704915841.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i,j] = "None"

In [131]:
df2.head(10)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,36.58362,None,None,None,None,None,None,None,None,None,None,None,None,None
1,95.2364,74.57287,None,None,None,None,None,None,None,None,None,None,None,None
2,84.0816,None,None,None,None,None,None,None,None,None,None,None,None,None
3,8.768292,None,None,None,None,None,None,None,None,None,None,None,None,None
4,68.18256,44.17857,92.79401,None,None,None,None,None,None,None,None,None,None,None
5,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,8.104913,None,None,None,None,None,None,None,None,None,None,None,None,None
8,35.26678,29.99756,26.74171,56.12702,None,None,None,None,None,None,None,None,None,None
9,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [154]:
df2.to_csv("CollisionDistance_preprocessed__.csv", header=None, index=False, na_rep = "None")

In [155]:
df.to_csv("CollisionCheck_preprocessed__.csv", header=None, index=False, na_rep = "None")

In [134]:
# 후처리
import pandas as pd
import copy
df3 = df.copy()
df4 = df.copy()

rows,cols = df.shape
rows,cols

(30000, 14)

In [138]:
df.head(10)

      0      1      2      3    4    5    6    7    8   9   10  11  12  13
0  10172    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
1    217     -1    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
2   2511    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
3   1212    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
4    302   1611   5027    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
5    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
6    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
7   1956    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
8  14640  12151  18052  17560  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
9    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN

In [142]:
pd.notna(df3.iloc[0,0])

True

In [ ]:
df.

In [164]:
df3 = df.copy()
df4 = df2.copy()
count = 0

for i in range(rows):
    for j in range(cols):
        if df3.iloc[i,j] == "-1":
            df3.iloc[i,j] = "-1:1"
        if pd.notna(df3.iloc[i,j]) and df3.iloc[i,j] != "-1:1" and df3.iloc[i,j] != "-1:0" and df3.iloc[i,j]!= "None":
            for k in range(cols):
                if pd.isna(df3.iloc[i,k]) : break
                if pd.notna(df3.iloc[i,k]) and df3.iloc[i,k] != "-1:1" and df3.iloc[i,k] != "-1:0" and df3.iloc[i,k] != "None":
                    if df3.iloc[i,j] == df.iloc[i,k]:
                        if j != k:
                            print(df3.iloc[i,j] , df.iloc[i,k])
                            count+=1
                            print(count)
                            df3.iloc[i,j] = "None"
                            df4.iloc[i,j] = "None"

14058 14058
1
2329 2329
2
1999 1999
3
28260 28260
4
28934 28934
5
9341 9341
6
13170 13170
7
6106 6106
8
21430 21430
9
5232 5232
10
5210 5210
11
4804 4804
12
15890 15890
13
2919 2919
14
12111 12111
15
11338 11338
16
17814 17814
17
11843 11843
18
16537 16537
19
10284 10284
20
3974 3974
21
11265 11265
22
10106 10106
23
18837 18837
24
3980 3980
25
545 545
26
29559 29559
27
19550 19550
28
18046 18046
29
8957 8957
30
11322 11322
31
24608 24608
32
10809 10809
33
15252 15252
34
12402 12402
35
14758 14758
36
5128 5128
37
22224 22224
38
22115 22115
39
23250 23250
40
22374 22374
41
17128 17128
42
2855 2855
43
2857 2857
44
14311 14311
45

In [166]:
df3.head(20)

       0      1      2      3    4    5    6    7    8   9   10  11  12  13
0   10172    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
1     217   -1:1    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
2    2511    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
3    1212    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
4     302   1611   5027    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
5     NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
6     NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
7    1956    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
8   14640  12151  18052  17560  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
9     NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
10  12964   -1:1    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
11  20747    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
12    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
13    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
14  28931  22244  29575    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
15    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
16    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
17  21343    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
18   -1:0    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
19   -1:1    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN

In [167]:
df3.to_csv("CollisionCheck_preprocessed3.csv", header=None, index=False, na_rep = "None")
df4.to_csv("CollisionDistance_preprocessed3.csv", header=None, index=False, na_rep = "None")